{% include "home/layout.html" %}
{% load static %}
{%block content%}

<style>
  body {
    background-image: url("{% static '/images/foods.jpg' %}");
    background-repeat: no-repeat;
    background-size: cover;
  }

  label {
    padding: 10px 10px 10px 0;
    display: inline-block;
  }

  .header {
    text-align: center;
    margin-top: 30px;
    color: #ffff00;
    background-color: black;
    padding: 5px;
    border: 2px solid #ffff00;
    border-radius: 8px;
  }

  .header h1 {
    padding: 0;
    margin: 0;
  }

  .pic-logo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 30px;
    width: 80%;
    max-width: 300px;
  }

  button[type=button],
  select {
    background-color: black;
    color: white;
  }

  .avater-profile {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
  }

  .profile-data {
    border-radius: 20px;
    background-color: rgb(54, 140, 154);
    padding: 20px;
    margin-top: 20px;
    width: 90%;
    max-width: 500px;
  }

  .profile-data span {
    color: rgb(255, 255, 255);
  }

  .content-profile {
    overflow: auto;
    height: calc(100% - var(--height-main-nav));
    padding-bottom: 20px;
  }

  .content-profile button,
  .content-profile a {
    margin-bottom: 0;
    font-weight: 900;
    background-color: white;
    color: rgb(54, 140, 154);
    padding: 2px 0px;
  }

  .content-profile button h4,
  .content-profile a h4 {
    margin: 0;
  }
</style>
<script>
  function verify_password(event) {
    const form = new FormData(event)
    const password = form.get("new-password")
    const confirmPassword = form.get("new-password-again")

    if (password !== confirmPassword) {
      Swal.fire({
        title: 'Password',
        text: 'password not match?',
        icon: 'error',
        confirmButtonText: 'OK',
      })
      return false
    }
  }
</script>
<div class="content-profile d-flex flex-column justify-content-start align-items-center">
  <div class="header">
    <h1>Change password</h1>
    {% if request.user.is_authenticated %}
  </div>
  <form class="profile-data" onsubmit="return verify_password(this)" method="POST" action="/profile/password">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        <span class="title-profile">Current password</span>
      </div>
      <div class="col-12 mt-1">
        <input required type="password" name="current-password" class="form-control">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <span class="title-profile">New password</span>
      </div>
      <div class="col-12 mt-1">
        <input required type="password" name="new-password" class="form-control">
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-12">
        <span class="title-profile">New password again</span>
      </div>
      <div class="col-12 mt-1">
        <input required type="password" name="new-password-again" class="form-control">
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-6">
        <a class="btn w-100" href="{% url 'profile' %}">
          <h4>Cancel</h4>
        </a>
      </div>
      <div class="col-6">
        <button class="btn w-100">
          <h4>Confirm</h4>
        </button>
      </div>
    </div>
  </form>
</div>
{% load sweetify %}
{% sweetify %}
{% endif %}
{% endblock %}