{% include "home/layout.html" %}
{% load static %}
{%block content%}

<style>
  body {
    background-image: url("{% static '/images/foods.jpg' %}");
    background-repeat: no-repeat;
    background-size: cover;
  }

  input[type=password],
  select {
    width: 100%;
    padding: 20px;
    border: 1px solid #e709f3;
    background-color: #efe41e;
    border-radius: 10px;
    resize: vertical;
  }

  label {
    padding: 10px 10px 10px 0;
    display: inline-block;
  }

  .header {
    text-align: center;
    margin-top: 30px;
    color: #ffff00;
    background-color: black;
    padding: 5px;
    border: 2px solid #ffff00;
    border-radius: 8px;
  }

  .header h1 {
    padding: 0;
    margin: 0;
  }

  .pic-logo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 30px;
    width: 80%;
    max-width: 300px;
  }

  button[type=button],
  select {
    background-color: black;
    color: white;
  }

  .avater-profile {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
  }

  .profile-data {
    border-radius: 20px;
    background-color: rgb(54, 140, 154);
    padding: 20px;
    margin-top: 20px;
    width: 80%;
    max-width: 500px;
  }

  .profile-data span {
    color: rgb(255, 255, 255);
  }

  .profile-data .title-profile {
    font-weight: 900;
  }

  .content-profile {
    overflow: auto;
    height: calc(100% - var(--height-main-nav));
    padding-bottom: 20px;
  }

  .content-profile button , .content-profile .choose {
    background-color: white;
    box-shadow: 0px 0px 8px rgb(188, 188, 39);
    color: rgb(54, 140, 154);
    border: 0;
    border-radius: 20px;
    width: 100%;
    margin: 0;
  }

  .content-profile button , .content-profile .choose label {
    padding: 5px 0px;
    margin: 0;
    width: 100%;
  }

  .content-profile button h4 {
    margin-bottom: 0;
  }
</style>

<script>

  async function resizeAndCompressImage(blob, targetSizeKB) {
    const img = new Image();
    img.src = URL.createObjectURL(blob);
    return new Promise((resolve) => {
        img.onload = async function () {
            const canvas = document.getElementById("resize");
            const ctx = canvas.getContext("2d");

            const aspectRatio = img.width / img.height;
            let newWidth = img.width;
            let newHeight = img.height;

            while (true) {
                canvas.width = newWidth;
                canvas.height = newHeight;
                ctx.drawImage(img, 0, 0, newWidth, newHeight);

                const blobCompressed = await new Promise((resolve) => {
                    canvas.toBlob((blob) => resolve(blob), "image/jpeg", 1);
                });

                if (blobCompressed.size / 1024 <= targetSizeKB) {
                    resolve(new File( [blobCompressed] , "{{ request.user.customer.user_id }}_profile.jpg", { type: "image/jpeg" } ));
                } else {
                    newWidth *= 0.9;
                    newHeight *= 0.9;
                }
            }
        };
    });
  }

  $(document).ready(() => {
    $("#profile-image-edit").change((ev) => {
      const file = ev.target.files[0];
      if (file) {
          const reader = new FileReader();
          reader.onload = async function (e) {
              $(".avater-profile").attr("style" , `background-image: url('${e.target.result}');`)
              const formData = new FormData(document.getElementById("choose-image-profile"))
              const newImage = await resizeAndCompressImage(formData.get("new_image") , 1024)
              formData.set("new_image" , newImage)
              FetchData.POST("/profile/image" , formData)
          }
          reader.readAsDataURL(file)
      }
    })
  })
</script>

<div class="content-profile d-flex flex-column justify-content-start align-items-center">
  <div class="header">
    <h1>PROFILE</h1>
    {% if request.user.is_authenticated %}
  </div>
  <div class="pic-logo">
    {% if request.user.customer.image %}
      <div 
        class="avater-profile" 
        style="background-image: url('{{ request.user.customer.image.url }}');">
      </div>
    {% else %}
      <div 
        class="avater-profile">
      </div>
    {% endif %}
    <form class="choose" style="border-radius:0px 0px 20px 20px;text-align: center;" id="choose-image-profile">
      <label>
        Change image
        {% csrf_token %}
        <input type="file" id="profile-image-edit" name="new_image" hidden>
        <canvas id="resize" hidden></canvas>
      </label>
    </form>
  </div>
  <div class="profile-data">
    <div class="row">
      <div class="col-12">
        <span class="title-profile">Name</span>
        <span>{{request.user.customer.name}}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <span class="title-profile">Weight</span>
        <span>{{request.user.customer.weight}} KG</span>
      </div>
      <div class="col-12 col-sm-6">
        <span class="title-profile">Height</span>
        <span>{{request.user.customer.height}} cm</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <span class="title-profile">Age</span>
        <span>{{request.user.customer.age}} year</span>
      </div>
      <div class="col-12 col-sm-6">
        <span class="title-profile">Gender</span>
        <span>{{request.user.customer.gender}}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <span class="title-profile">Email</span>
        <span>{{request.user.email}}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <span class="title-profile">Username</span>
        <span>{{request.user.username}}</span>
      </div>
      <div class="col-12 col-sm-6">
        <span class="title-profile">Password</span>
        <span>*********</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <span class="title-profile">Phone</span>
        <span>{{request.user.customer.phone}}</span>
      </div>
      <div class="col-12 col-sm-6">
        <span class="title-profile">COST</span>
        <span>{{request.user.customer.cost}}</span>
      </div>
    </div>

    <div class="row" style="margin-top: 10px;">
      <div class="col-12">
        <a href="{% url 'profile_password' %}">
          <button type="button" style="border-radius: 20px;padding: 10px;">Change Password</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% load sweetify %}
{% sweetify %}
{% endif %}
{% endblock %}