{% include "home/layout.html" %}
{% include "header.html" %}
{% load static %}

{%block content%}

<style>

    .background {
        background-image: url("{% static '/images/food_menu.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    .goal-content {
        overflow: auto;
        height: calc(100% - 130px);
    }

    .goal-content .header {
        text-align: center;
        margin-top: 20px;
    }

    .goal-content .header2 {
        border: 5px solid black;
        border-radius: 20px;
        margin: 0 auto;
        width: 50%;
    }

    .goal-content .container {
        margin-top: 30px;
        text-align: center;
    }

    .goal-content img[alt="model-fat"] {
        border: 5px solid black;
    }

    .goal-content img[alt="model-fat"]:hover {
        border-color: #e9fb44;
    }

    .goal-content .enter {
        text-align: center;
    }
</style>
<div class="goal-content">
    <div class="background"></div>
    <div class="header">
        <h1>Desired Result</h1>
        <div class="header2">
            <h2 style="margin-bottom: 0px;">Selected Fat</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 mt-1 flex-column">
                <!-- /goal/diet/{{id_diet}}/ -->
                <a href="/goal/diet/{{id_diet}}/body-fat1"><img
                        src="{% static '/images/goal/' %}{{gender}}/body-fat1.jpg" alt="model-fat"
                        style="width: 100% ; aspect-ratio: 1/1;"></a>
            </div>

            <div class="col-12 col-md-4 mt-1 flex-column">
                <a href="/goal/diet/{{id_diet}}/body-fat2"><img
                        src="{% static '/images/goal/' %}{{gender}}/body-fat2.jpg" alt="model-fat"
                        style="width: 100% ; aspect-ratio: 1/1;"></a>
            </div>

            <div class="col-12 col-md-4 mt-1 flex-column">
                <a href="/goal/diet/{{id_diet}}/body-fat3"><img
                        src="{% static '/images/goal/' %}{{gender}}/body-fat3.jpg" alt="model-fat"
                        style="width: 100% ; aspect-ratio: 1/1;"></a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 col-md-4 mt-1 flex-column">
                <a href="/goal/diet/{{id_diet}}/body-fat4"><img
                        src="{% static '/images/goal/' %}{{gender}}/body-fat4.jpg" alt="model-fat"
                        style="width: 100% ; aspect-ratio: 1/1;"></a>
            </div>

            <div class="col-12 col-md-4 mt-1 flex-column">
                <a href="/goal/diet/{{id_diet}}/body-fat5"><img
                        src="{% static '/images/goal/' %}{{gender}}/body-fat5.jpg" alt="model-fat"
                        style="width: 100% ; aspect-ratio: 1/1;"></a>
            </div>

            <div class="col-12 col-md-4 mt-1 flex-column">
                <a href="/goal/diet/{{id_diet}}/body-fat6"><img
                        src="{% static '/images/goal/' %}{{gender}}/body-fat6.jpg" alt="model-fat"
                        style="width: 100% ; aspect-ratio: 1/1;"></a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 col-md-4 mt-1 flex-column">
                <a href="/goal/diet/{{id_diet}}/body-fat7"><img
                        src="{% static '/images/goal/' %}{{gender}}/body-fat7.jpg" alt="model-fat"
                        style="width: 100% ; aspect-ratio: 1/1;"></a>
            </div>

            <div class="col-12 col-md-4 mt-1 flex-column">
                <a href="/goal/diet/{{id_diet}}/body-fat8"><img
                        src="{% static '/images/goal/' %}{{gender}}/body-fat8.jpg" alt="model-fat"
                        style="width: 100% ; aspect-ratio: 1/1;"></a>
            </div>

            <div class="col-12 col-md-4 mt-1 flex-column">
                <a href="/goal/diet/{{id_diet}}/body-fat9"><img
                        src="{% static '/images/goal/' %}{{gender}}/body-fat9.jpg" alt="model-fat"
                        style="width: 100% ; aspect-ratio: 1/1;"></a>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="enter">
        <a type="button" class="btn btn-secondary" href="/goal/detailgoal/{{id_diet}}"
            style="max-width: 400px;width: 90%;height: 50px;">
            <h4>return</h4>
        </a>
    </div>
    <br>
    <br>
    <br>
</div>

{% load sweetify %}
{% sweetify %}
{% endblock %}