{% include "home/layout.html" %}
{% include "header.html" %}
{% load static %}

{%block content%}
<style>

    body {
        background-image: url("{% static '/images/food_menu.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .goal-content {
        overflow: auto;
        height: calc(100% - 130px);
    }

    .goal-content .header {
        text-align: center;
        margin-top: 20px;
    }

    .goal-content .container {
        margin-top: 30px;
    }

    .goal-content .list {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .goal-content .list a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .goal-content .list a h4 {
        margin-bottom: 0;
    }

    @media only screen and (max-width: 400px) {
        .goal-content .list a h4 {
            font-size: 16px;
        }
    }
</style>

<div class="goal-content">
    <div class="header">
        <h1>Desired Result</h1>
    </div>
    
    <div class="container d-flex flex-column">
        {% for diet in diet_menus %}
        <div class="list m-3">
            <a type="button" class="btn btn-success" href="detailgoal/{{diet.id}}"
                style="width: 100%; max-width: 400px;height: 50px;">
                <h4>{{diet.name}}</h4>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% load sweetify %}
{% sweetify %}
{% endblock %}