{% include "home/layout.html" %}
{% include "goal/goals/goal_style.html" %}
{% load static %}

{%block content%}

<div class="goal-content">
    <div class="header">
        <!-- <h1>Desired Result</h1> -->
        <div class="header2">
            <h2>Ketogenic Diet</h2>
        </div>
    </div>
    
    <div class="photo">
        <img src="{% static '/images/goal/Keto-Diet.png' %}" alt="pic-model">
    </div>
    
    <div class="container">
        <h6>What is Ketogenic Diet</h6>
        <br>
        <p>(Ketogenic Diet), also known as Kito (Keto), is another way to lose weight. By eating foods that have low or very
            small amounts of carbohydrates (rice, flour, sugar) and eating more unsaturated fats and proteins instead
            Which limits the amount of carbohydrates (carbes) that are the main source of casting to be reduced Will cause
            the blood glucose (glucose) levels to decrease as well, but the amount of Keton (caused by incomplete body fat
            burning) will increase, causing the body to adjust to ketones.To burn the energy platen instead of using reduced
            glucose
            In the research, it was found that Having a high amount of ketones can actually reduce appetite. And having a
            high ketone content Also helps to increase gaba (GABA), which is a healthy protein in the brain. Resulting in
            the process of immaculation (Inhibitory process) Works well. It is also useful in areas that help increase
            Ketosis (Ketosis) in the body by allowing the body to use energy from fat instead of using energy from
            carbohydrates and sugars
            In the past, Ketogenic Diet was invented to treat certain epilepsy patients. There is a mechanism for the brain
            to use ketones as energy instead of glucose, which is found to be effective.</p>
        <br>
        <br>
        <h6>How to eat Ketogenic Diet</h6>
        <br>
        <p>Is entering the category of eating High Fat Low Carbs or eating a lot of fat and eating less flour But what
            causes the misunderstanding is People tend to limit that Ketogenic Diet is cutting flour. In which to cut some
            nutrients, we need to add nutrients.Something came up to allow the body to stay
            For example: eating the wrong Keto is not eating the rice. It is considered a very wrong and dangerous method.
            Therefore, the proportion of people who want to eat Ketogenic Diet will consist of
            <br>
            Fat 70-80%
            <br>
            Protein 20-25%
            <br>
            And carbohydrates (carb) 5%
            <br>
            Of calorie intake all day (That is suitable for each person). If compared to the proportion of the percentage,
            then have to say that Fat is quite a lot. And very little flour This is the source of High Fat Low Carbs.
        </p>
        <br>
        <br>
        <h6>What is Ketogenic Diet's food? / What can you eat?</h6>
        <br>
        <p>- Saturated fats are very common in meat. Processed food from meat and some vegetable oils, ground palm oil
            Coconut oil, saturated fat causes the level of LDL in the blood to rise and may cause the level of HDL in the
            blood to rise somewhat
            <br>
            - saturated fat in large quantities (Can eat only a little)*
            Oily meat, processed food, coconut oil and coconut milk
            <br>
            - monounsaturated fats
            Found in beans, seeds, some oils such as olive oil, rice bran oil Canola oil, peanuts, almonds, avocados, with
            monounsaturated fats will cause lower LDL levels. And also has antioxidants as well
            <br>
            - polyunsaturated fats
            Found in some vegetable oils such as soybean oil, corn oil, sunflower oil Safflower oil Cotton seed oil Complex
            unsaturated fats will cause LDL levels in the choice to drop, as well as monounsaturated fats
            In addition to taking a kito weight loss diet, do not forget to exercise together for at least 30 minutes
            because the body will use sugar in the blood. Including the use of glycogen that accumulates in the liver and
            muscles completely, causing the body to pull the excess fat that is accumulated instead and willFound that the
            amount of ketones is higher after exercise Which helps to reduce appetite better
        </p>
        <br>
        <br>
        <h6>Lose weight Ketogenic Diet, Don't eat anything</h6>
        <br>
        <p>- Trans fats can be found in products made from vegetable oils that have been processed in industrial synthesis
            Such as margarine / margarine, white butter, Artificial cream. In addition, trans fats can be found in foods
            with high heat, such as trans fat fries, which will cause poor cholesterol levels or higher LDL in the blood and
            also cause good cholesterol levels such as HDL in the blood. Lower, increasing the risk of cardiovascular
            disease
        </p>
        <br>
        <br>
        <h6>Advantages and disadvantages of eating Ketogenic diet</h6>
        <br>
        <p>Advantages: Ketogenic diet helps to reduce obesity, long-term sufficiency, helps build muscle, improved skin.
            Healthy body
            <br>
            Disadvantages: In most cases, the symptoms that result in disadvantages often come from focusing on eating too
            much meat. (But it will be in the initial stages, but when adjusted, the symptoms will disappear, but it is
            advisable to add other vitamins as well. Very good)
            <br>
            - Guinea (may occur to some people) due to the addiction of eating kito so much that it lacks vitamins
            <br>
            - Easy to tired, tired body
            <br>
            - Dizziness or ketoflu is a symptom that all ketok eaters already encounter
            <br>
            - Bad breath And has a body odor (May occur to some people)
            <br>
            - Fatigue
            <br>
            - Shoulder pain
            <br>
            - Constipation
            <br>
            - Itchy rash (may occur to some people)
        </p>
        <br>
        <br>
        <br>
        <h6>Eat kito and the weight doesn't reduce. What is the cause?</h6>
        <br>
        <p>Eating keto requires discipline. For the body to adjust If able to do it for 14 consecutive days, the results
            will be seen immediately. As for the reasons for eating kito, the weight does not reduce as follows
            <br>
            - Eating too much fat Of course, fat has a high calorie content. The more we eat, the less our weight, even if
            we eat ketokan diet. It doesn't mean that we can eat the fat
            <br>
            - Eating too much carbs (Causing to get free from eating unconscious ketones) Eating too much carbs or eating
            more fat in the proportion of ketos, such as eating a lot of cakes, nuts, sweets, results in weight loss.Not
            down
            <br>
            - Taking carbs mixed with fat It is considered to make the body very sensitive to insulin. Giving the liver the
            option to use glucose as energy first and will keep accumulating fat indefinitely
        </p>
        <br>
        <br>
        <h6>Keto diet. Dangerous?</h6>
        <br>
        <p>Because the food you eat will consist of meat and fat. Which has saturated fat as the main body and must be eaten
            in large quantities Therefore, it may increase the level of fat in the veins, especially LDL or triglycerite.
            And may not be suitable for patients with high blood cholesterolAlready or in a group of people who are at risk
            of developing heart disease
            In addition, in people who need to take Ketogenitc Diet for a long time Especially the patients with epilepsy,
            it is also found that the risk of osteoporosis and kidney stones increases.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row" style="width: 100%;">
            <div class="col-6 flex-column">
                <a type="button" class="btn btn-secondary" href="{% url 'goal' %}" 
                    style="width: 100%;height: 50px; display: flex; justify-content: center; align-items: center;">
                    <h4 style="margin: 0;">return</h4>
                </a>
            </div>
    
            <div class="col-6 flex-column">
                <a type="button" class="btn btn-success" href="/detailgoalfat/{{ id_diet }}"
                    style="width: 100%;height: 50px; display: flex; justify-content: center; align-items: center;">
                    <h4 style="margin: 0;">submit</h4>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}