{% include "home/layout.html" %}
{% include "goal/goals/goal_style.html" %}
{% load static %}

{%block content%}

<div class="goal-content">
    <div class="header">
        <!-- <h1>Desired Result</h1> -->
        <div class="header2">
            <h2>Intermittent Fasting (IF)</h2>
        </div>
    </div>
    
    <div class="photo">
        <img src="{% static '/images/goal/Intermittent_Fasting.jpg' %}" alt="pic-model">
    </div>
    
    <div class="container">
        <h6>Get to know Intermittent Fasting (IF)</h6>
        <br>
        <p>Intermittent fasting or IF is defined as an eating pattern that cycles between periods of fasting and feeding
            conducted
            on a regular schedule. IF has currently become one of the world is most popular health and fitness trends as a
            number of researches
            reveal that it is an effective way to manage weight and minimize the risk of developing some forms of diseases.
            Instead of modifying foods, IF rather specifies when you should eat them. In this regard, it is not considered a
            diet
            in the conventional sense but more described precisely as an eating pattern that enables you to eat less food
            with intermittent
            energy restriction.
            Insulin is an essential hormone that helps to regulate the blood sugar (glucose) levels in the body. During
            digestion,
            insulin stimulates muscle, fat and liver cells to absorb glucose to be used for energy or converted into fat for
            long-term storage.
            While fasting, the body releases less insulin, allowing the fat cells to release their stored sugar to be used.
            As a result, reduced insulin levels lower the conversion of glucose into fat, leading to less fat storage under
            the skin and
            eventually weight loss. In addition, a decrease in insulin levels can contribute to the elevated levels of
            growth hormone and
            norepinephrine, which play critical roles in promoting lipid and energy metabolisms while showing no effects on
            reducing muscle mass
            which is a common result of prolonged and continuous fasting.</p>
        <br>
        <br>
        <br>
        <p>A variety of IF methods Involving splitting the day or week into feeding and fasting periods,
            there are several different ways of doing IF. These are the most popular methods:</p>
        <br>
        <p>1.The Lean gains or 16/8 IF: The Lean gains is a simple and easy form of IF to follow since it is less
            restrictive and more flexible
            than many other diets and works with most lifestyles. It involves eating for 8 hours and fasting for 16 hours
            each day.</p>
        <p>2.Fast 5: Fast 5 approach consists of 5 hours of eating and 19 consecutive hours of fasting.</p>
        <p>3.Eat-Stop-Eat: This method involves fasting for 24 hours, once or twice a week, then eating responsibly for the
            remaining days
            of the week with appropriate amount of food.</p>
        <p>4.5:2 diet: With this method, it involves a 5-day eating and a 2-day fasting, either consecutively or
            non-consecutively
            in each week. Rather than eating nothing at all during fasting period, this approach allows you to consume only
            600 calories/day
            for men and 500 calories/day for women, approximately ¼ of daily intake of calories.</p>
        <p>5.Alternate Day Fasting: This method, considered as an extensive approach, allows you to eat every other day.
            For example, day 1: eat regular meals, day 2: fast, day 3: eat regular meal, day 4: fast and so on.
            Similar to those of 5:2 diet, only little calories are allowed on fasting days. </p>
        <br>
        <br>
        <h6>Benefits of IF</h6>
        <br>
        <p>IF offers a number of promising health-related benefits if conducted appropriately. Major benefit of IF has been
            highlighted in weight
            reduction. Moreover, decreased fat in the body can substantially lead to a risk reduction in a wide range of
            chronic diseases,
            such as diabetes, dyslipidemia, hypertension, cardiovascular disease and neurovascular disease. Interestingly,
            researches show that the intermittent fasting periods do more than burn fat, it helps profoundly to promote the
            function of
            the brain while minimizing the risk of Alzheimer is Disease and delaying cell degeneration process. The medical
            study published
            in October, 2017 by The Harvard T.H. Chan School of Public Health, the public health school of Harvard
            University,
            reveals that IF can significantly prolong healthy living through inducing “autophagy”
            -the natural degradation of the cell that removes unnecessary or dysfunctional components in order to regenerate
            newer and healthier
            cells. Under normal conditions, when the cells have sufficient nutrients, autophagy degrades damaged components
            in the cells.
            When fasting starves the cells, autophagy helps digest some of the cell components to provide the necessary
            energy for survival,
            allowing the regeneration of newer cells to replace the damaged ones.</p>
        <p>IF conducted along with diet control
            Only implementing intermittent fasting alone might not be sufficient to reach desired weight, especially when
            high-energy food
            is still being consumed during eating period. More importantly, drawbacks of prolonged fasting may promote
            over-eating.
            As the way intermittent fasting is strictly scheduled, many people tend to over-eat on feeding days. On these
            feasting days,
            meal size and frequency are not restricted, therefore this may cause some people to eat a lot to compensate for
            their previous
            fasting days. Because the body is deprived of food on certain days or between certain hours, the hunger can
            become extreme which
            also leads to over-eating. This can also induce excess stress and lack of discipline with reduced physical
            activity which largely
            impedes weight loss.</p>
        <br>
        <br>
        <br>
        <p>Despite a number of studies have claimed that IF is an effective tool used for losing weight in many people, it
            does not necessarily
            mean that it always works for everyone because of the differences in physical conditions and responses among
            each individual.
            In addition, some drawbacks of intermittent fasting might be expected. Before starting IF, it is important to
            check on your physical
            health and gain sufficient information, including instructions prior to, during and after IF. To reach the
            optimal benefits,
            IF should be conducted under close supervision of dieticians and nutrition specialists, ensuring the appropriate
            technique and
            the best possible outcomes.
            Thai Food Suitable for an IF Diet
            Larb Gai/Larb Moo (without toasted rice)</p>
        <br>
        <br>
        <p>• Larb is a high-protein dish made from lean meat, such as chicken or pork. Skipping the toasted rice helps
            reduce unnecessary carbohydrates.
            Lear Soup with Tofu and Minced Pork</p>
        <p>•This light soup provides protein from tofu and pork, along with vitamins and minerals from vegetables.</p>
        <p>Tom Yum Goong (Spicy Shrimp Soup)</p>
        <p>• Tom Yum is a low-calorie, high-protein dish packed with antioxidants from the herbs and spices. Avoid adding
            sugar or making
            it too salty</p>
        <br>
        <p>https://www.bangkokhospital.com/en/content/intermittent-fasting?srsltid=AfmBOorD2gfxCANs7pMNYKSnmtKTtmrnQJLiavtnEhIwDgBfBYulm3F3
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row" style="width: 100%;">
            <div class="col-6 flex-column">
                <a type="button" class="btn btn-secondary" href="{% url 'goal' %}" 
                    style="width: 100%;height: 50px; display: flex; justify-content: center; align-items: center;">
                    <h4 style="margin: 0;">return</h4>
                </a>
            </div>
    
            <div class="col-6 flex-column">
                <a type="button" class="btn btn-success" href="/detailgoalfat/{{ id_diet }}"
                    style="width: 100%;height: 50px; display: flex; justify-content: center; align-items: center;">
                    <h4 style="margin: 0;">submit</h4>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}